<div class="p-3 mb-2 bg-primary-subtle text-primary-emphasis">
<div class="row p-5"> 
<div class="text-center lg">
    <div class="body">
      <h5 class="title" class="fs-1 fw-bold lh-1" >Special title treatment</h5>
      <p class="text" class="fs-4 lh-1">With supporting text below as a natural lead-in to additional content.</p>
      <a routerLink="/resouces" class="btn btn-primary btn-lg" routerLink="/resources">Get Started</a>
    </div>
</div>
</div>

  <div class="row p-2">
    <div class="col-sm-6">
      <div class="card px-4 text-center">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a routerLink="/signup" class="btn btn-primary" >Sign Up Here</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card px-4 text-center">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a routerLink="/login" class="btn btn-primary">Login Here</a>
        </div>
      </div>
    </div>
  </div>
</div>
