<!--Adapted from Thornton and Mark (n.d.) -->

<div class="p-3 mb-2 bg-primary-subtle text-primary-emphasis">
<div class="row p-5"> 
<div class="text-center lg">
    <div class="body">
      <h5 class="title" class="fs-1 fw-bold lh-1" >Welcome!</h5>
      <p class="text" class="fs-4 lh-1">This Grant Tracker was created by Randiell Thorne. 
            Please view the resources by clicking 'Get Started.'</p>
      <a routerLink="/resouces" class="btn btn-primary btn-lg" routerLink="/resources">Get Started</a>
    </div>
</div>
</div>

  <div class="row p-2">
    <div class="col-sm-6">
      <div class="card px-4 text-center">
        <div class="card-body">
          <h5 class="card-title fw-bold fs-4">Sign Up Here to Get Started!</h5>
          <p class="card-text">To become a funder or apply for a grant you can sign up here.</p>
          <a routerLink="/signup" class="btn btn-primary" >Sign Up Here</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card px-4 text-center">
        <div class="card-body">
          <h5 class="card-title fw-bold fs-4">Access Your Account Here!</h5>
          <p class="card-text">To access your account, write grants, offer grants ans so much more.</p>
          <a routerLink="/login" class="btn btn-primary">Login Here</a>
        </div>
      </div>
    </div>
  </div>
</div>
