<!--Adapted from Thornton and Mark (n.d.) -->

<div class="p-3 mb-2 bg-primary-subtle text-primary-emphasis"> 
    <div class="row p-5"> 
        <div class="text-center lg">
            <div class="body">
              <h5 class="title" class="fs-1 fw-bold lh-1" >Resources</h5>
              <p class="text" class="fs-4 lh-1">To help you get started, the list of funders and grant offers can be viewed here. </p>
              <p class="text" class="fs-4 lh-1"> View the user manual to get more information on creating an account, writing a grant proposal, becoming a funder, tracking your grant offers and much more. </p>
            </div>
        </div>
    </div>

<!-- -->
    <div class="p-3 mb-2 d-grid gap-3 col-6 mx-auto">
        
        <label class="text-center fs-5 fw-bold">View the List of Funders Here!</label>
        <button  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#fundersModal">
        List of Funders
        </button>

        <label class="text-center fs-5 fw-bold">View the List of Grant Offers Here!</label>
        <button  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#offersModal">
            List of Offers
        </button>
    </div>

        
    <div class="card px-4 p-3 mb-3 text-center">
        <div class="card-body">
            <h5 class="card-title fs-4 fw-bold">Admin Contact Information</h5>
            <p class="card-text">Phone number: 868 --- ----</p>
            <p class="card-text">Email address: randiell.thorne&#64;my.uwi.edu</p>
        </div>
    </div>


    <div class="card px-4 p-3 mb-3 text-center">
        <div class="card-body">
            <h5 class="card-title fs-4 fw-bold">User Manual</h5>
            <p class="card-text">Learn how to use this Grant Tracker</p>
            <p class="card-text">*Insert User Manual PDF File*</p>
        </div>
    </div> 
    
</div>

<!-- Creating modals for the list of funders and grant offers -->

<div class="modal fade" id="fundersModal" tabindex="-1" aria-labelledby="funderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="fundersModalLabel">List of Funders</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        ...
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="offersModal" tabindex="-1" aria-labelledby="offersModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="offersModalLabel">List of Grant Offers</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        ...
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>
